@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/*$theme-colors: (
	"primary": #007bff,
	"secondary": ##6c757d,
	"white": #fff
);

$grid-breakpoints: (
	xs:     0px,
	sm:   576px,
	md:   768px,
	lg:  992px,
	xl:  1200px,
	xxl: 1440px
);

$container-max-widths: (
	sm:   575.98px,
	md:   767.98px,
	lg:   991.98px,
	xl:  1198.98px,
	xxl: 1439.98px
);*/

$tinybreak: map-get($grid-breakpoints, xl);

$spacer: 1rem;
$spacers: (
	6: ($spacer * 4)
);

@import "../node_modules/bootstrap/scss/bootstrap";

body, .wrapper {
    height: 100%;
}

body#tinymce {
	margin: auto;
    padding: 0 1rem;
    max-width: $tinybreak;
    overflow-y: auto !important;
    height: auto !important;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

.bg404 {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	opacity: 0.25;
	z-index: -1;
	font-size: 25vw;
}

.navbar {
	z-index: 9999;
}

#header .contact > span {
	margin-right: ($spacer * .5);
}

.hasChildren {
	position: relative;
}

@include media-breakpoint-down(md) {	
	.hasChildren > ul {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		transition: opacity 0.5s linear;
	}

	.navbar > .navbar-collapse > .navbar-nav > .hasChildren > ul {
		width: 200%;
	}

	.hasChildren:hover > ul {
		opacity: 1;
		visibility: visible;
	}
	
	.hasChildren > ul > li {
		width: 100%;
	}
	
	.hasChildren > a > .fa-caret-left {
		transition: transform 0.35s linear;
	}
	
	.hasChildren:hover > a > .fa-caret-left {
		transform: rotate(-90deg);
	}
}

#footer .row > div:last-child {
	text-align: right;
}

.carousel-inner {
	height: 400px;
}