/* ADMIN STYLES */

@import "colourScheme.css";

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    overflow: hidden;
    background: #fff;
    background: var(--body);
}

a {
    color: #00a1ff;
    color: var(--main);
    transition: all 0.5s ease-out;
}

a:hover {
    color: #0081cc;
    color: var(--main-hover);
    transition: all 0.35s ease-in;
}

hr {
    margin: 1em auto;
    background: #dedede;
    background: var(--grey);
    border: 0;
    height: 1px;
}

.noContent {
    color: #f44336;
    color: var(--bad);
}

.adminWrap::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.adminWrap::-webkit-scrollbar-track {
    background: #dedede;
    background: var(--grey);
    border-radius: 10px;
}

.adminWrap::-webkit-scrollbar-thumb {
    background: #ff5722;
    background: var(--accent);
    border-radius: 10px;
}

/* GENERAL */

#message {
    color: #f44336;
    color: var(--bad);
    font-weight: bold;
    text-align: right;
    margin-top: -2em;
    margin-left: 136px;
}

#message:empty {
    display: none;
}

.formBlock label {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    text-transform: capitalize;
}

.formBlock input:not([type="button"]):not([type="submit"]),
.formBlock select,
.formBlock textarea,
.formattedTable input:not([type="button"]):not([type="submit"]){
    display: inline-block;
    vertical-align: middle;
    width: -webkit-calc(100% - 210px);
    width: -moz-calc(100% - 210px);
    width: -o-calc(100% - 210px);
    width: calc(100% - 210px);
    max-width: 500px;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #dedede;
}

.formBlock input[type="button"],
.formBlock input[type="submit"],
.formattedTable input[type="button"],
.formattedTable input[type="submit"] {
    background: #00a1ff;
    background: var(--main);
    border: 0;
    min-width: 120px;
    color: #fff;
    padding: 1em;
    transition: background 0.5s ease-out;
}

.formBlock input[type="button"]:hover,
.formBlock input[type="submit"]:hover,
.formattedTable input[type="button"]:hover,
.formattedTable input[type="submit"]:hover {
    background: #0081cc;
    background: var(--main-hover);
    transition: background 0.35s ease-in;
}

.formBlock input.redButton[type="button"],
.formBlock input.redButton[type="submit"],
.formattedTable input.redButton[type="button"],
.formattedTable input.redButton[type="submit"] {
    background: #f44336;
    background: var(--bad);
}

.formBlock input.redButton[type="button"]:hover,
.formBlock input.redButton[type="submit"]:hover,
.formattedTable input.redButton[type="button"]:hover,
.formattedTable input.redButton[type="submit"]:hover {
    background: #c3352b;
    background: var(--bad-hover);
}

.formBlock input[type="checkbox"] {
    transform: scale(1.5);
    width: 20px !important;
    margin: auto;
    display: inline-block;
}

.formattedTable input:not([type="button"]):not([type="submit"]) {
    width: 100%;
}

.formattedTable input[type="button"],
.formattedTable input[type="submit"] {
    padding: 0.5em;
    min-width: 0;
}

.formattedTable input[name="show"], 
.formattedTable input[name="hide"] {
    min-width: 56px;
}

.formattedTable .hasButton, .formBlock .hasButton {
    width: -webkit-calc(100% - 95px) !important;
    width: -moz-calc(100% - 95px) !important;
    width: -o-calc(100% - 95px) !important;
    width: calc(100% - 95px) !important;
    display: inline-block !important;
}

@media only screen and (min-width: 1533px) {
    .formBlock .hasButton {
        width: -webkit-calc(100% - 295px) !important;
        width: -moz-calc(100% - 295px) !important;
        width: -o-calc(100% - 295px) !important;
        width: calc(100% - 295px) !important;
        display: inline-block !important;
    }
}

.hasTable {
    overflow-y: auto;
}

.hasTable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.hasTable::-webkit-scrollbar-track {
    background: #dedede;
    background: var(--grey);
    border-radius: 10px;
}

.hasTable::-webkit-scrollbar-thumb {
    background: #ff5722;
    background: var(--accent);
    border-radius: 10px;
}

.hasTable::-webkit-scrollbar-thumb:hover {
    background: #cc461b;
    background: var(--accent-hover);
}

.formattedTable {
    width: 100%;
    border-collapse: collapse;
}

.formattedTable th {
    background: #00a1ff;
    background: var(--main);
    color: #fff;
    padding: 0.5em;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}

.formattedTable th:last-child {
    border-right: 0;
}

.formattedTable tr td {
    padding: 0.5em;
    box-sizing: border-box;
    text-align: center;
    min-width: 200px;
}

.formattedTable tr:nth-child(even) td {
    background: #dedede;
    background: var(--grey);
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.column > div {
    padding: 1em;
    box-sizing: border-box;
    border-bottom: 5px solid #00a1ff;
    border-bottom: 5px solid var(--main);
    border-left: 1px solid #dedede;
    border-left: 1px solid var(--grey);
    border-right: 1px solid #dedede;
    border-right: 1px solid var(--grey);
}

.column-70 {
    width: 70%;
    box-sizing: border-box;
}

.column-60 {
    width: 60%;
    box-sizing: border-box;
}

.column-50 {
    width: 50%;
    box-sizing: border-box;
}

.column-40 {
    width: 40%;
    box-sizing: border-box;
}

.column-30 {
    width: 30%;
    box-sizing: border-box;
}

.flexContainer .column:first-child {
    margin-right: 1em;
}

.flexContainer .column.column-70:first-child{
    width: -webkit-calc(70% - 1em);
    width: -moz-calc(70% - 1em);
    width: -o-calc(70% - 1em);
    width: calc(70% - 1em);
}

.flexContainer .column.column-60:first-child{
    width: -webkit-calc(60% - 1em);
    width: -moz-calc(60% - 1em);
    width: -o-calc(60% - 1em);
    width: calc(60% - 1em);
}

.flexContainer .column.column-50:first-child{
    width: -webkit-calc(50% - 1em);
    width: -moz-calc(50% - 1em);
    width: -o-calc(50% - 1em);
    width: calc(50% - 1em);
}

.flexContainer .column.column-40:first-child{
    width: -webkit-calc(40% - 1em);
    width: -moz-calc(40% - 1em);
    width: -o-calc(40% - 1em);
    width: calc(40% - 1em);
}

.flexContainer .column.column-30:first-child{
    width: -webkit-calc(30% - 1em);
    width: -moz-calc(30% - 1em);
    width: -o-calc(30% - 1em);
    width: calc(30% - 1em);
}

.greyHeader {
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    background: #dedede;
    background: var(--grey);
    text-transform: capitalize;
}

.pagination {
    border-top: 1px solid #dedede;
    border-top: 1px solid var(--grey);
    margin-top: 1em;
}

.pagination a {
    margin-right: 0.5em;
    color: #333;
}

.pagination a:hover {
    color: #000;
    text-shadow: 0px 0px 1px #000;
}

/* HEADER */

#adminHeader {
    background: #00a1ff;
    background: var(--main);
    color: #fff;
    position: relative;
}

#adminHeader a {
    color: #fff;
    text-decoration: underline;
}

#adminHeader a:hover {
    color: #fff;
    font-weight: bold;
}

#adminHeader .logoWrap {
    margin-right: 1em;
    width: 200px;
}

#adminHeader .logoWrap h2 {
    font-size: 2.5em;
    margin: 0;
}

#adminHeader .headerInner {
    padding: 1em;
    box-sizing: border-box;
}

#adminHeader .headerInner > div {
    display: inline-block;
    vertical-align: middle;
}

#adminHeader .detailsWrap {
    text-align: right;
    width: -webkit-calc(100% - 204px - 1em);
    width: -moz-calc(100% - 204px - 1em);
    width: -o-calc(100% - 204px - 1em);
    width: calc(100% - 204px - 1em);
    box-sizing: border-box;
}

#adminHeader .detailsWrap h1 {
    margin: 0;
}

/* NAVIGATION */

#adminNav {
    z-index: 9999;
}

#adminNav ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

#adminNav ul li {
    list-style: none;
    text-align: center;
    width: 100%;
    position: relative;
    background: #ff5722;
    background: var(--accent);
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

#adminNav ul li > a {
    display: block;
    padding: 1em 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

#adminNav ul li > a#active {
    background: #ff9800;
    background: var(--active-item);
}

#adminNav ul li > a:hover, #adminNav ul li:hover {
    background: #cc461b;
    background: var(--accent-hover);
    font-weight: normal;
    transition: background 0.35s ease-in, color 0.35s ease-in;
}

#adminNav ul li a#active {
    background: #ff9800;
    background: var(--active-item);
}

#adminNav ul li.hasChildren > a:after {
    content: " ▼";
    font-size: 0.75em;
}

#adminNav li > .subMenu {
    opacity: 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
    display: block;
    transition: visibility 0.51s, opacity 0.5s ease-out;
}

@media only screen and (min-width: 1170px) {
    #adminNav li:hover > .subMenu {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.35s ease-in;
    }
}

#adminNav .subMenu.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.35s ease-in;
}

.navToggle {
    position: absolute;
    top: 1em;
    right: 1em;
    box-sizing: border-box;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: url('../images/icons/hamburger-dark-icon.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transition: all 0.5s ease-out;
}

.navToggle:hover {
    background-image: url('../images/icons/hamburger-icon.png');
    background-color: #111;
    transition: all 0.5s ease-in;
}

/* FOOTER */

#adminFooter {
    width: 100%;
    background: #00a1ff;
    background: var(--main);
    padding: 1em;
    box-sizing: border-box;
    color: #fff;
}

#adminFooter #currUser {
    margin: 0;
    text-align: right;
}

#adminFooter a {
    color: #fff;
    text-decoration: underline;
}

#adminFooter a:hover {
    color: #fff;
    font-weight: bold;
}

/* MAIN */

.adminWrap {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}

/* DASHBOARD */

.dashboardBlocks {
    display: flex;
    flex-wrap: wrap;
}

.dashboardBlocks > .dashboardBlock {
    margin: 1em;
    width: 100%;
    max-width: 400px;
    border-bottom: 5px solid #00a1ff;
    border-bottom: 5px solid var(--main);
    border-left: 1px solid #dedede;
    border-left: 1px solid var(--grey);
    border-right: 1px solid #dedede;
    border-right: 1px solid var(--grey);
    box-sizing: border-box;
    
}

.dashboardBlock .counter {
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    background: #dedede;
    background: var(--grey);
}

.dashboardBlocks .counter h2 {
    color: #fff;
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

.dashboardBlock .counter .count {
    font-size: 2.5em;
    font-weight: bold;
}

.dashboardBlock .postList h3{
    padding: 0 1em;
    box-sizing: border-box;
}

.dashboardBlock .postList ul {
    margin: 0;
}

.dashboardBlock .postList ul li {
    margin: 1em auto;
    padding: 0 1em;
}

/* SETTINGS */

#editSocial .socialIcon {
    width: 35px;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

#editSocial p > label > span {
    display: inline-block;
    vertical-align: middle;
}

/* SLIDERS */

#sliderList tr > td:first-child {
    width: 80px;
    min-width: 80px;
}

#sliderList tr > th:nth-child(2),
#sliderList tr > td:nth-child(2) {
    text-align: left;
    min-width: 400px;
}

#sliderList tr > td:nth-child(3) {
    text-align: left;
}

#sliderList tr > td:nth-child(3),
#sliderList tr > td:nth-child(4) {
    width: 200px;
    min-width: 200px;
}

.mce-fullscreen {
    z-index: 9999 !important;
}

#slidesTable .mce-tinymce iframe,
#slidesTable .mce-statusbar,
#slidesTable .mce-flow-layout-item:not(.mce-last) {
    display: none !important;
}

#slidesTable .mce-tinymce.mce-fullscreen iframe,
#slidesTable .mce-fullscreen .mce-statusbar {
    display: block !important;
}

#slidesTable .mce-fullscreen .mce-flow-layout-item:not(.mce-last) {
    display: inline-block !important;
}

/* CATEGORIES */

.categoryTree:first-child {
    padding: 0;
}

.categoryTree {
    list-style: none;
}

.categoryTree .categoryDetails {
    background: #dedede;
    background: var(--grey);
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    min-height: 44px;
}

.categoryTree > li {
    margin: 0.5em auto;
    margin-left: 0;
}

.categoryTree .categoryDetails .actions, .categoryTree .categoryDetails .actions > p {
    margin: 0 auto;
}

.categoryTree .categoryDetails .actions {
    display: inline-block;
    margin-left: 1em;
    float: right;
}

.categoryTree .actions input[type="button"] {
    padding: 0.5em;
}

/* RESPONSIVE */

@media only screen and (max-width: 1170px) {
    #adminHeader .detailsWrap {
        padding-right: -webkit-calc(50px + 1em);
        padding-right: -moz-calc(50px + 1em);
        padding-right: -o-calc(50px + 1em);
        padding-right: calc(50px + 1em);
    }
    
    .navToggle {
        display: block;
    }
    
    #adminNav {
        position: absolute;
        top: 100%;
        width: 100%;
        overflow: hidden;
        display: none;
        max-width: 300px;
        right: 0;
    }
    
    #adminNav ul {
        display: block;
        overflow: auto;
        max-height: -webkit-calc(100vh - 80px);
        max-height: -moz-calc(100vh - 80px);
        max-height: -o-calc(100vh - 80px);
        max-height: calc(100vh - 80px);
    }
    
    #adminNav ul li {
        display: block; 
        text-align: left;
    }
    
    #adminNav ul li > a {
        padding: 1em;
    }
    
    #adminNav li > .subMenu {
        position: static;
        max-height: 0;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-out;
    }
    
    #adminNav li.hasChildren > .subMenu > li {
        background: #ff6a23;
        background: var(--dd-menu);
    }
    
    #adminNav li > .subMenu.active {
        max-height: 100vh;
        transition: max-height 0.5s ease-in;
    }
    
    #adminNav ul li.hasChildren > a:after {
        display: inline-block;
        transform: rotate(90deg);
        margin-left: 4px;
        transition: transform 0.9s ease;
    }
    
    #adminNav ul li.hasChildren > a.active {
        background: #ff6a23;
        background: var(--active-item);
    }
    
    #adminNav ul li.hasChildren > a.active:after {
        transform: rotate(0deg);
        transition: transform 0.5s ease;
    }
}

@media only screen and (max-width: 768px) {
    #adminHeader .headerInner > div {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .column {
        margin: 0 auto 1em auto !important;
        width: 100% !important;
    }
    
    .column:last-child {
        margin-bottom: 0 !important;
    }
    
    #sliderList tr th:nth-child(1), 
    #sliderList tr td:nth-child(1), 
    #sliderList tr th:nth-child(3), 
    #sliderList tr td:nth-child(3) {
        display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    #adminNav {
        max-width: 100%;
    }
    
    .formBlock label, 
    .formBlock input:not([type="button"]):not([type="submit"]), 
    .formBlock select, 
    .formBlock textarea {
        display: block;
        width: 100%;
    }
    
    .formBlock input[type="checkbox"] {
        margin-left: 0;
        margin-top: 0.5em;
    }
    
    .categoryTree .categoryDetails .actions {
        display: block;
        float: none;
        margin-left: 0;
    }
    
    .editor input[type="text"] {
        min-width: 60% !important;
    }
}