/* COLOUR SCHEME */

:root {
    --body: #fff;
    --main: #00a1ff;
    --main-hover: #0081cc;
    --accent: #ff5722;
    --accent-hover: #cc461b;
    --active-item: #ff9800;
    --dd-menu: #ff6a23;
    --bad: #f44336;
    --bad-hover: #c3352b;
    --grey: #dedede;
}

:root {
    --body: #fff;
    --main: #c72037;
    --main-hover: #a80d22;
    --accent: #333;
    --accent-hover: #111;
    --active-item: #555;
    --dd-menu: #777;
    --bad: #333;
    --bad-hover: #111;
    --grey: #dedede;
}