/* STYLES */

@import "defaults.css";

/* GENERAL */

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #fff;
}

a {
    color: #00a1ff;
    transition: all 0.5s ease-out;
}

a:hover {
    color: #0081cc;
    transition: all 0.35s ease-in;
}

/* HEADER */

#header {
    background: #333;
}

#header .headerInner {
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
    max-width: 1024px;
    max-width: var(--page-width);
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
}

.headerInner > div:first-child {
    min-width: 300px;
}

.headerInner > div:last-child {
    width: 100%;
}

.headerContact {
    float: right;
}

.headerContact p {
    margin: 0;
}

#header .logo {
    font-size: 2em;
    margin: 0;
}

#header img.logo {
    max-width: 200px;
}

#header .logo a {
    color: #fff;
    text-decoration: none;
}

/* NAVIGATION */

.navigation#menu0 {
    z-index: 9999;
    background: #f44336;
}

.navigation#menu0 ul {
    max-width: 1024px;
    max-width: var(--page-width);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}

.navigation#menu0 ul li {
    list-style: none;
    text-align: center;
    position: relative;
    background: #f44336;
    min-width: 200px;
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.navigation#menu0 .itemInner > ul > li {
    width: 100%;
}

.navigation#menu0 ul li > a {
    display: block;
    padding: 1em 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navigation#menu0 ul li > a#active {
    background: #ff503f;
}

.navigation#menu0 ul li > a:hover, .navigation#menu0 ul li:hover {
    background: #c3352b;
    font-weight: normal;
    transition: background 0.35s ease-in, color 0.35s ease-in;
}

.navigation#menu0 ul li.hasChildren {
    z-index: 9999;
}

.navigation#menu0 ul li.hasChildren > a > #arrow {
    /*content: " ▼";*/
    font-size: 0.75em;
}

.navigation#menu0 li > div {
    opacity: 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
    display: block;
    transition: visibility 0.51s, opacity 0.5s ease-out;
}

@media only screen and (min-width: 1024px) {
    .navigation#menu0 li:hover > div {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.35s ease-in;
    }
}

.navigation#menu0 .itemInner {
    max-height: 0;
    transition: all 0.35s;
    overflow: hidden;
}

.navigation#menu0 .itemInner.active {
    max-height: 1000px;
    transition: all 1s;
}

.navigation#menu0 > ul > li ul .itemInner {
    top: 0;
    right: -100%;
}

.navigation#menu0 > ul > li ul a > #arrow {
    transform: rotate(-90deg);
    display: inline-block;
}

.navigation#menu0 ul li.hasImages {
    position: static !important;
}

.navigation#menu0 ul li.hasImages > .itemInner {
    position: absolute;
    width: 100vw;
    background: #c3352b;
    left: 0;
    right: 0;
}

.navigation#menu0 li.hasImages > .itemInner > div {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1024px;
    max-width: var(--page-width);
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
}

.navigation#menu0 li.hasImages .navImage {
    height: 400px;
    width: 400px;
    background: #fff;
    margin-right: 1em;
}

.navigation#menu0 li.hasImages > .itemInner > div > ul {
    display: block;
    margin: 0;
    width: -webkit-calc(100% - 400px - 1em);
    width: -moz-calc(100% - 400px - 1em);
    width: -o-calc(100% - 400px - 1em);
    width: calc(100% - 400px - 1em);
}

.navigation#menu0 li.hasImages ul li {
    text-align: left;
}

.navigation#menu0 > ul > li.hasImages ul li {
    width: 50%;
}

.navigation#menu0 > ul > li.hasImages ul {
    width: 100%;
}

.navigation#menu0 > ul > li.hasImages ul .navImage {
    display: none;
}

.navToggle {
    position: absolute;
    top: 1em;
    right: 1em;
    box-sizing: border-box;
    background-color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-image: url('../admin/images/icons/hamburger-dark-icon.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transition: all 0.5s ease-out;
}

.navToggle:hover {
    background-image: url('../admin/images/icons/hamburger-icon.png');
    background-color: #111;
    transition: all 0.5s ease-in;
}

/* FOOTER */

.mainFooter, .afterFooter > div {
    max-width: 1024px;
    max-width: var(--page-width);
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
}

#footer {
    background: #333;
}

#footer .mainFooter {
    display: flex;
    flex-wrap: nowrap;
}

.mainFooter > div {
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    margin-right: 1em;
}

.mainFooter > div:last-child {
    margin-right: 0;
}

.afterFooter {
    background: #000;
    color: #fff;
    text-align: center;
}

.mainFooter .contactDetails {
    margin: 0;
}

.mainFooter .contactDetails > strong {
    display: inline-block;
    vertical-align: middle;
    width: 55px;
}

.mainFooter .contactDetails > span {
    display: inline-block;
    vertical-align: middle;
}

.mainFooter .socialLinks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.mainFooter .socialLinks li {
    list-style: none;
    margin: 0.5em;
    background: #fff;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    filter: grayscale(0.6);
    transition: filter 0.5s ease-out;
}

.mainFooter .socialLinks li:hover {
    filter: grayscale(0);
    transition: filter 0.35s ease-in;
}

.mainFooter .socialLinks li img {
    max-width: 35px;
    height: 35px;
    transform: scale(1.05);
}

#footer *:blank {
    display: none;
}

/* MAIN */

.main {
    
}

.main .content {
    max-width: 1024px;
    max-width: var(--page-width);
    margin: auto;
    padding:1em;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 50vh;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.hero .heroImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.hero .gallery {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.hero .gallery .owl-stage {
    display: flex;
}

.hero .gallery .owl-item div {
    position: relative;
    overflow: hidden;
}

.hero .gallery .owl-item div #alt {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: left;
    padding: 0.25em;
    box-sizing: border-box;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    pointer-events: none;
}

.hero .gallery .owl-item:hover div #alt {
    visibility: visible;
    opacity: 1;
    transition: all 0.35s ease-in;
}

.hero .gallery .owl-item img, 
.hero .gallery .owl-item div {
    height: 100%;
    border-radius: 5px;
}

.hero.slider .owl-stage-outer,
.hero.slider .owl-stage,
.hero.slider .owl-item,
.hero.slider .slide, 
.hero.slider .slideInner {
    height: 100%;
}

.hero.slider .slide {
    background-size: cover;
    background-position: center;
}

.hero.slider .slideInner {
    padding: 1em;
    box-sizing: border-box;
    max-width: 1024px;
    max-width: var(--page-width);
    margin: auto;
    position: relative;
}

.hero.slider .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1024px;
    max-width: var(--page-width);
    height: 100%;
    margin: auto;
    z-index: 10;
    margin-top: 0;
    pointer-events: none;
}

.hero.slider .owl-nav .owl-prev,
.hero.slider .owl-nav .owl-next {
    color: #fff;
    font-size: 4em;
    top: 50%;
    transform: translateY(-100%);
    position: absolute;
    pointer-events: all;
}

.hero.slider .owl-nav .owl-prev {
    left: -1em;
}

.hero.slider .owl-nav .owl-next {
    right: -1em;
}

.hero.slider .owl-dots {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.hero.slider .owl-dot {
    background: rgba(191, 191, 191, 0.75);
    border: 2px solid #333;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-right: 0.5em;
    transition: background 0.5s ease-out;
}

.hero.slider .owl-dot:hover {
    background: rgba(191, 191, 191, 1);
    transition: background 0.35s ease-in;
}

.hero.slider .owl-dot:last-child {
    margin-right: 0;
}

.hero.slider .owl-dot.active {
    background: #fff;
    border-color: #bfbfbf;
}

.listItem {
    display: flex;
    flex-wrap: nowrap;
    background: #f3f3f3;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.listItem:last-child {
    margin-bottom: 0;
}

.listItem .imageWrap {
    width: 100%;
    max-width: 250px;
    margin-right: 1em;
}

.listItem .imageWrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.listItem h3, .listItem h4, .listItem h5 {
    margin: 0 auto 0.5em auto;
}

.pagination {
    text-align: center;
}

.pagination a {
    margin-right: 0.5em;
}

.pagination a:last-child {
    margin-right: 0;
}

.userContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.additionalOptions {
    float: right;
    width: 100%;
    height: 100%;
    max-width: 300px;
    background: #f3f3f3;
    margin-left: 1em;
}

.additionalOptions .optionTab {
    overflow: hidden;
    border-style: solid; 
    border-color: #333;
    border-width: 1px;
}

.additionalOptions .optionTab > div {
    max-height: 0;
    background: #fff;
    transition: max-height 1s ease;
}

.additionalOptions .optionTab#active > div {
    max-height: 1000px;
    transition: max-height 3s ease;
}

.additionalOptions .optionTab > div > div {
    padding: 0.5em;
    box-sizing: border-box;
}

.additionalOptions h3 {
    margin: 0;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.additionalOptions .optionTab h3:not(.noClick):after {
    content: "+";
    margin-left: 1em;
    font-weight: bold;
}

.additionalOptions .optionTab#active h3:not(.noClick):after {
    content: "-";
}

.additionalOptions table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.additionalOptions table td {
    border: 1px solid #ccc;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {    
    #header .headerInner {
        padding-right: 4em;
        padding-right: -webkit-calc(2em + 38px);
        padding-right: -moz-calc(2em + 38px);
        padding-right: -o-calc(2em + 38px);
        padding-right: calc(2em + 38px);
        min-height: 70px;
    }
    
    .navToggle {
        display: block;
    }
    
    .navigation#menu0 {
        position: absolute;
        width: 100%;
        overflow: hidden;
        display: none;
        right: 0;
        max-width: 300px;
    }
    
    .navigation#menu0 ul {
        display: block;
        overflow: hidden;
        max-height: -webkit-calc(100vh - 80px);
        max-height: -moz-calc(100vh - 80px);
        max-height: -o-calc(100vh - 80px);
        max-height: calc(100vh - 80px);
    }
    
    .navigation#menu0 ul li {
        display: block; 
        text-align: left;
    }
    
    .navigation#menu0 ul li > a {
        padding: 1em;
    }
    
    .navigation#menu0 li > div, .navigation#menu0 li > div > ul {
        position: static;
        max-height: 0;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-out;
    }
    
    .navigation#menu0 li.hasChildren > div > ul > li {
        background: #de4d43;
    }
    
    .navigation#menu0 li > div.active, .navigation#menu0 li > div.active > ul {
        max-height: 100vh;
        transition: max-height 0.5s ease-in;
    }
    
    .navigation#menu0 ul li.hasChildren > a > #arrow {
        display: inline-block;
        transform: rotate(90deg);
        margin-left: 4px;
        transition: transform 0.9s ease;
    }
    
    .navigation#menu0 ul li.hasChildren > a.active {
        background: #de4d43;
    }
    
    .navigation#menu0 ul li.hasChildren > a.active > #arrow {
        transform: rotate(0deg);
        transition: transform 0.5s ease;
    }
    
    .navigation li.hasImages .navImage {
        display: none;
    }
    
    .additionalOptions {
        float: none;
        margin-left: 0;
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .navigation#menu0 {
        max-width: 100%;
    }
    
    .hero .gallery {
        right: 0;
        left: 0;
        margin: auto;
    }
}
